@import url('https://fonts.googleapis.com/css2?family=Workbench:BLED,SCAN@0..100,0..100&display=swap');

:root {
	--bg-color: #222323;
	--text-color: #e3e8e3;
	--border-color: #3e4040;
	/* --accent-color: rgb(255, 191, 0); */
	--accent-color: #e3e8e3;
}

body {
	font-family: "Arial";
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 2rem;
	background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23454747'>\<text x='10' y='14' font-size='14' text-anchor='middle'>.</text>\</svg>");
	background-repeat: repeat;
}

#movies {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	column-gap: 2rem;
	row-gap: 2rem;
}

p {
	margin-block-start: 2px;
	margin-block-end: 0;
	font-size: 10px;
}

h3 {
	font-size: 10px;
	margin-block-end: 0px;
}

.movie {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: background-color 0.2s;
	transition: opacity 0.2s;
	border: solid;
	border-color: var(--bg-color);
	border-width: 1px;
	padding: 20px;
}

.movie-video {
	width: 80%;
	display: block;
	filter: grayscale(100%);
	transition: filter 0.2s;
	pointer-events: none;
	opacity: 0.5;
	transition: opacity 0.2s;
}

.movie-video-container {
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1.8 / 1;
	padding-top: 20px;
}

.movie:hover .movie-video {
	filter: grayscale(0%);
	opacity: 1.0;
}

.movie:hover {
	/* background-color: var(--bg-color); */
	border-color: var(--border-color);
	opacity: 1.0;
}

.movie-info {
	display: flex;
	align-items: center;
	gap: 10px;
}

h1 {
	font-size: clamp(1vw, 10vw, 12vw);
	font-family: "Workbench", sans-serif;
	font-variation-settings:
		"BLED" 0,
		"SCAN" 20;
	margin-block-start: 0.03em;
	margin-block-end: 0;
}

.header {
	display: flex;
	flex-wrap: wrap;
	row-gap: 0px;
	column-gap: 20px;
}

.filters {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: sticky;
	top: 0;
	/* background: #222323; */
	z-index: 10;
	margin-bottom: 20px;
	gap: 10px;
}

input[type=text] {
	background-color: var(--bg-color);
	color: var(--text-color);
	border: 1px solid var(--border-color);
	width: 300px;
	padding: 12px;
	margin: 10px 30px 10px 0px;
	box-sizing: border-box;
	outline: none;
}

input[type=text]:focus {
	border: 1px solid var(--accent-color);
}

input[type=text]:hover {
	border: 1px solid var(--accent-color);
}

select {
	appearance: none;
	padding: 12px;
	border: 1px solid var(--border-color);
	background-color: var(--bg-color);
	outline: none;
	color: var(--text-color);
}

select:hover {
	background-color: var(--accent-color);
	color: var(--bg-color);
	border: 1px solid var(--accent-color);
}

.star {
	color: var(--accent-color);
}

.info {
	width: clamp(300px, 10vw, 1000px);
}