:root {
	/* Colors */
	--bg-color: #0d0d0d;
	--text-color: #C4C1BC;
	--hover-color: #dbd9d6;
	--text-secondary-color: #5c5e5e;
	--border-color: #3e4040;
	--accent-color: #F64C4C;
	/* Fonts */
	--font-smallest: 0.563rem;
	--font-small: 0.688rem;
	--font-regular: 0.75rem;
	/* Radius */
	--radius-small: 0.25rem;
	--radius-medium: 0.75rem;
	--radius-large: 1.5rem;
}

@media (hover: hover) {
	.styled-select:hover {
		background-color: var(--hover-color);
	}

	.styled-select.active:hover {
		background-color: var(--hover-color);
	}

	.reset:hover {
		color: var(--accent-color);
	}

	.movie:hover .movie-video {
		filter: grayscale(0%);
		opacity: 1.0;
	}

	.movie:hover {
		color: var(--hover-color);
		opacity: 1.0;
	}
}

body {
	font-family: "Arial";
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 0;
}

#movies {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
	column-gap: 4rem;
	row-gap: 4rem;
	margin-top: 30px;
	padding: 0rem 2rem 2rem 2rem;
}

a {
	color: var(--text-color);
}

a:visited {
	color: var(--text-color)
}

p {
	margin-block-start: 2px;
	margin-block-end: 0;
	font-size: var(--font-small);
}

.movie {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: background-color 0.2s, opacity 0.2s ease-out;
	/* border-top: dashed;
	border-color: var(--border-color);
	border-width: 1px; */
	cursor: crosshair !important;
	pointer-events: auto;
	/* padding-top: 10px; */
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	touch-action: manipulation;
}

.movie-video,
.thumb {
	width: 80%;
	display: block;
	filter: grayscale(100%);
	pointer-events: none;
	transition: filter 0.2s, opacity 0.2s;
}

.movie-video-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1.8 / 1;
	padding-top: 40px;
	padding-bottom: 30px;
	overflow: hidden;
}

.movie-video-container img,
.movie-video-container video {
	position: absolute;
	width: 80%;
	object-fit: cover;
	border-radius: var(--radius-medium);
}

.movie-video-container img {
	z-index: 1;
}

.movie-video-container video {
	z-index: 2;
}

.movie-info {
	display: flex;
	align-items: center;
	gap: 10px;
}

.movie.touch-active .thumb {
	filter: grayscale(0);
}

.movie.touch-active {
	transform: scale(1.02);
	z-index: 3;
}

.header {
	padding: 0rem 10px 2rem 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 10;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	gap: 10px;
	transition: background-image 0.3s;
}

.header.stuck {
	background-image: linear-gradient(to bottom, rgba(13, 13, 13, 1.0), rgba(13, 13, 13, 0.0));
}

.filters {
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
	justify-content: center;
}

.star {
	color: var(--accent-color);
	font-size: var(--font-small);
}

.logo {
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 122px;
}

#videoOverlay {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	cursor: zoom-out !important;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.4s ease;
}

#videoOverlay.active {
	display: flex;
	opacity: 1;
	pointer-events: auto; 
}

.overlay-bg {
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.8);
}

#overlayVideo {
	position: relative;
	max-width: 90%;
	max-height: 90%;
	border-radius: var(--radius-large);
}

.styled-select {
	box-sizing: border-box;
	appearance: none;
	line-height: 1;
	-webkit-appearance: none;
	background-color: var(--text-color);
	color: var(--bg-color);
	padding: 2px 14px 0px 14px;
	border: none;
	border-radius: var(--radius-small);
	cursor: pointer;
	text-transform: uppercase;
	outline: none;
	text-align: center;
	text-align: -webkit-center;
	height: 21px;
	font: inherit;
	font-size: var(--font-regular);
}

.styled-select.active {
	background-color: var(--accent-color);
}

.reset {
	color: var(--text-color);
	cursor: pointer;
	font-size: var(--font-regular);
	align-self: center;
}

.count {
	font-size: var(--font-regular);
	align-self: center;
	color: var(--text-secondary-color);
}

.results {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 110px;
}

